params_local*.*
params_remote*.*
.idea/
*.iml
tarballs/
target/
hosts/
*.pyc*
generated/
*.jpg
*.jpeg
*.png
*.pt
*.h5
libdir/
pig_*
*.jasper
gvl-*
SanderGeerts-*
HDFSClient*
sg-api-test/
part-m-*
checkpoint2
*-site.xml
.Rproj.user
/offline-application.log
*.xlsx
*.html
*.Rdata
~$*
*~$*
.ipynb_checkpoints
sqoop/
# Generated setup files
*.c
*.so
*.pyd
/application/model/blood_cell_identification_model/darkflow/build
/application/model/blood_cell_identification_model/build/
/Data/image_from_web_decoded_repo
.DS_Store
.venv
.idea